/*Used to wrap the entire page to sit ontop of .push*/
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em; }

/*allows navigation bar to fill the entire page's width and give it some top and bottom margin space*/
#header {
  z-index: 1000;
  width: 100%;
  height: 145px;
  margin: 0 auto;
  padding: none;
  background-color: #A4A4A4; }

#navbar {
  z-index: 1000;
  width: 100%;
  height: 145px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: none;
  position: fixed;
  background-color: black;
  list-style: none;
  opacity:0.85;
  filter:alpha(opacity=40); /* For IE8 and earlier */ }

#navbar .logo {
  margin-top: auto;
  margin-left: 15px;
  margin-right: auto;
  padding: none; }

#navbar .menu {
  z-index: 1000;
  width: 25%
  float: right;
  color: white;
  padding: 40px;
  border: 20px;
  font-size: 20px;
  display: inline block;
  text-decoration:none;
  font-family: Comic Sans MS, cursive, sans-serif; }


#midway {
  background-color: white;
  margin: 0 auto;
  height: 900px;
  width: 100%; }

.fadein {
  z-index: 1; 
  position:relative; 
  height:650px; 
  width:100%; 
  margin: 0 auto;
  background: url("images/slider/slideshow-bg.png") repeat-x scroll left top transparent; 
  border: 6px solid #FA5858;/*redish*/ }

.fadein img { 
  z-index: 1;
  position:absolute; 
  height:650px;
  width:100%;
  left: 0;
  right: 0;
  margin: 0 auto; }

/*HTML5 pushes the footer to the very bottom of page*/
.footer, .push {
height: 4em; }

/*Creates the About PDP, About Alto University and About Design Factory buttons */
 #footer .aboutButtons{
  border-radius: 10px; /*makes the button rounded. The highter the number the closer it will be to a circle*/
  border: 2px solid white;
  background-color: black;
  height: 30px;
  width: 120px;
  margin: auto;
  text-align: center;
  padding:10px;
  float: left; }

#footer {
  background-color: white;/*gray*/
  margin: 0 auto;
  height: 70px;
  width: 100%; }