
/* Give the body a width */
/*body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

/*allows navigation bar to fill the entire page's width and give it some top and bottom margin space*/
nav {
  width: 100%;
  height: 120px;
  margin: 0px;
  position: fixed;
  background-color: black;
  list-style: none;
  opacity:0.78;
  filter:alpha(opacity=40); /* For IE8 and earlier */ }

nav a {
  width: 25%
  float: right;
  color: white;
  padding: 40px;
  border: 20px;
  font-size: 20px;
  display: inline block;
  text-decoration:none;
  font-family: Comic Sans MS, cursive, sans-serif;
  }

#header{
  height: 300px;
  width: 100%;
  background-color: #A4A4A4;}

#midway{
  background-color: white;
  height: 700px;
  width: 100%;}

#midway1{
 background-color: #FA5858; 
 height: 200px;
 width: 100%;}

#footer{
  background-color: #848484;
  height: 700px;
  width: 100%;}
