
/* Give the body a width */
body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

/*allows navigation bar to fill the entire page's width and give it some top and bottom margin space*/
nav {
  width: 100%;
  margin: 20px 0; }

/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%;
  list-style: none; }

nav ul li {
  width: 25%;
  float: left; }

nav ul li a {
  display: block;
  width: 100%; }
